
@{
    ViewBag.Title = "Success";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <hgroup>
        <h1>Success.</h1>
        <h2>Request Operation Successful Inserted Into Product Table.</h2>
    </hgroup>
</body>
</html>


